.App {
  text-align: center;
  /* height: 100%; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
  align-self: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 24px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-wrapper {
  margin: 50px;
  max-width: 100vw;
  position: relative;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 20px;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: calc(100vh - 140px);
}
